<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title> {% block base-static %}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/main.css">
{% endblock %} {% block static %}{% endblock %}
</head>
<body>
	<div class="container-fluid">
		<div class="row">{% block content %} {% endblock %}</div>
	</div>
	<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jsqr.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	{% block script-more %} {% endblock %}
</body>
</html>
